# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
tst
# Packages
*.deb

.c9revisions
.settings
*.c~

*.tar.gz
lastBackedUp.txt
.gdb_history
*.swp
tstSmallDB
*.kate-swp
tstPubSub
